# Database connection string
# PostgreSQL（当前使用）
DATABASE_URL=postgresql://127.0.0.1:5432/your-database-name

# 或使用 MongoDB 连接串（迁移导出阶段使用）
#DATABASE_URL=mongodb://127.0.0.1/your-database-name

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE
